<h1>Artikel omschrijving:</h1>

<p>
  Title: <%= @article.title %>
</p>

<p>
  Description: <%= @article.description %>
</p>

<%= link_to "Wijzig dit artikel", edit_article_path(@article) %> |
<%= link_to "Artikelen", articles_path %>